*{
  padding: 0;
  margin: 0;
}

body{
  font-size: 17px;
  font-family: cursive;
}

button{
  cursor: pointer;
}

li {
  list-style-type: none;
}

input{
  border: 1px solid black;
  padding:5px 10px;
  color: black;
  border-radius: 5px;
  font-size: 20px;
}


#wrapperApp{
  background: #EEEEEE;
  max-width: 960px;
  margin: auto;
  padding:20px 10px;
}

#wrapperApp1{
  float: right;
}

/*UsersList*/

.usersListWrapper{
  width: 100%;
  background: #EEEEEE;
  margin-bottom: 10px;
}

.usersListWrapper{
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.userHeader{
  padding: 20px 0;
}

.usersList{
  display: flex;
  justify-content: left;
}

.usersListWrapper .usersList{
flex-grow: 5;
justify-content: space-between;
align-items: center;
}

.usersList span{
flex-grow: 1;
text-align: center;
justify-content: space-around;
}

.usersList span:first-child{
text-align: right;
}

.usersList span:last-child{
text-align: left;
}

.usersListWrapper:nth-child(2n-1) {
    background-color: #CCCCCC; 
   } 

.usersListWrapper .image{
  width: 5%;
}
.usersListWrapper .image img{
   max-width: 100%;
   border-radius: 50%;
   float: left;
   border: 3px solid white;
}

.usersListWrapper span{
  text-align: center;
  text-transform:capitalize;
}

#clickChart{
  border: 1px solid black;
  padding:5px 10px;
  background-color: #666666;
  color: white;
  border-radius: 5px;
  font-size: 20px;
}

#clickUser{
  background-color: inherit;
  color: #666666;
  font-size: 30px;
  border: none;
  padding: 2px 30px;
}


/*UserDetails*/

.userDetails {
  display: none;
  z-index: 100;
  width: 100%;
  padding-bottom: 20px;
}

.userDetails-content{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userColumn{
  display: flex;
  flex-direction: column;
}

.userColumn img{
   max-width: 100%;
   border-radius: 50%;
   float: left;
   border: 4px solid white;
}

.gender{
  display: flex;
  margin-left: 15px;
}

.userGender{
  font-size: 30px;
  margin-left: 15px;
}

