
*{
  padding: 0;
  margin: 0;
}

body {
  font-size: 18px;
  font-family: cursive;
}

.wrapperApp, .wrapper {
  margin: 20px auto;
  width: 960px;
  background-color:#eee; 
}

.usersListWrapper:nth-child(2n-1) {
    background-color: #CCCCCC; 
   } 

.usersList {
  padding: 10px 10px;
  background-color: rgba(226, 226, 226, 0.3);
  cursor: pointer;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  color: #6f6e6e;
  transition: background-color 1s;
  display: grid;
  grid-template-columns: 100px 100px 110px 200px 200px 200px 50px;
}

.userListHeader {
  margin: auto;
  width: 960px;
  padding: 10px 10px;
  box-sizing: border-box;
  background-color: rgba(226, 226, 226, 0.3);
  cursor:pointer;
  text-transform: capitalize;
  font-size: 17px;
  font-weight: 600;
  color: black;
  display: grid;
  grid-template-columns: 100px 100px 110px 200px 200px 200px 50px;
}

.clickUser{
  float: right;
  margin-right: 20px;
  color: #666666;
  font-size: 50px;
  background-color: inherit;

}

.userDetails-content {
  background-color: inherit;
  font-size: 15px;
  overflow-y: hidden;
  transition: height 0.7s, padding 0.7s;
  padding-top: 10px;
  padding-left: 10px;
  
}
.userDetails-content>div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.userDetails-open {
  height: 200px;
  padding-top: 10px;
  padding-left: 10px;
}

.userDetails-close {
  height: 0px;
  padding-top: 0px;
  padding-left: 10px;
}

.usersList img{
   max-width: 50%;
   border-radius: 50%;
   float: left;
   border: 3px solid white;
}

.userDetails-content img{
   max-width: 100%;
   border-radius: 50%;
   float: left;
   border: 3px solid white;
}

.userGender{
  font-size:40px;
}

.userDetails-content strong{
  margin-right:10px;
}

.userInfo{
 width: 250px;
}

.clickChart{
  border: 1px solid black;
  padding:5px 10px;
  background-color: #666666;
  color: white;
  border-radius: 5px;
  font-size: 20px;
  float: right;
  cursor: pointer;
}


input{
  border: 1px solid black;
  padding:5px 10px;
  color: black;
  border-radius: 5px;
  font-size: 20px;
}